# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

TinkersEnergistics-1.16

# Files from Forge MDK
forge*changelog.txt

localstore

.factorypath
.apt_generated_tests

/src/generated/resources/.cache/